@import "main.scss";



.profile-info {
  padding: 18px 0 16px;
  .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  h2 {
    font-size: 20px;
    width: 160px;
    margin-bottom: 18px;
    @media (min-width:1170px){
      font-size: 26px;
      width: 1050px;
    }
  }
  a{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 30px;
    color: white;
    background-color: $blue;
    font-size: 12px;
    text-transform: uppercase;
    @media (min-width:1170px){
      width: 235px;
      height: 50px;
      font-size: 14px;
    }
  }
}
.profile-info-items{
  display: flex;
  flex-direction: column;
}
.profile-info-item{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  @media (min-width:1170px){
    flex-direction: row;
  }

  h4 {
    font-size: 14px;
    @media (min-width:1170px) {
      width: 324px;
      font-size: 18px;
    }
  }
  p{
    font-size: 14px;
    @media (min-width:1170px) {
      font-size: 18px;
    }
  }
}
.records {
  background-color: #eeeef3;
  h2 {
    padding: 20px 0;
    font-size: 20px;
    @media (min-width:1170px){
      font-size: 26px;

    }
  }
}
.record-card{
  background-color: white;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  @media (min-width:1170px){
    margin-bottom: 18px;
    flex-direction: row;
    height: 150px;
    align-items: center;
  }
}
.record-card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  max-height: 125px;
  overflow: hidden;
  h4{
    margin: 5px 0;
    @media (min-width:1170px){
      font-size: 18px;
    }
  }
  @media (min-width:1170px){
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1110px;
    height: 100%;
  }
}
.open-toggler{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: $blue;
  img {
    width: 23px;
  }
  @media (min-width:1170px){
    display: none;
  }
}

.record-name{
  order: 1;
  width: 230px;
  @media (min-width:1170px){
    width: 280px;
    padding-left: 40px;
  }
}
.record-doctor{
  order: 2;
  h4{
    display: none;
    @media (min-width:1170px){
      display: block;
    }
  }
  @media (min-width:1170px){
    padding: 0 80px 0 20px; 
  }

}
.record-date{
  order: 4;
  @media (min-width:1170px){
    padding: 0 40px 0 18px; 

  }
}
.record-room{
  order: 4;
  @media (min-width:1170px){
    order: 3;
  }
  @media (min-width:1170px){
    padding: 0 18px 0 18px; 
  }
}
.record-time{
  order: 5;
  @media (min-width:1170px){
    padding: 0 0 0 18px; 
  }
}

.record-card-button{
  background-color: $blue;
  height: 30px;
  display: flex;
  align-items: center;
  color: white;

  @media (min-width:1170px){
    flex: 50px;
    height: 100%;
    align-self: stretch;
  }
  
}
.record-button {
  flex: 80%;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  @media (min-width:1170px){
    display: none;
  }
}
.record-trash {
  flex: 20%;
  border-left: 1px solid white;
  align-self: stretch;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width:1170px){
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.show-more{
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $blue;
    color: white;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    width: 240px;
    height: 30px;
    @media (min-width:1170px){
      font-size: 14px;
      width: 235px;
      height: 50px;
    }
  }

}

.tickets-form{
  background-color: #eeeef3;
  @media (min-width:1170px){
    padding-bottom: 40px;
  }
  form{
    display: flex;
    flex-direction: column;
    @media (min-width:1170px){
      flex-direction: row;
    }
    .tickets-form-input{
      @media (min-width:1170px){
        flex: 2;
      }
    }
    .tickets-form-submit{
      display: flex;
      @media (min-width:1170px){
        flex: 3;
        align-items: flex-end;
        justify-content: flex-end;
      }
    } 
  }
  /* The container */
  .tickets-form-label {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 0;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .tickets-form-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2px solid $blue;
    border-radius: 3px;
  }

  /* On mouse-over, add a grey background color */
  .tickets-form-label:hover input ~ .checkmark {
    background-color: $blue;
  }

  /* When the checkbox is checked, add a blue background */
  .tickets-form-label input:checked ~ .checkmark {
    background-color: $blue;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .tickets-form-label input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .tickets-form-label .checkmark:after {
    left: 3px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[type="tel"], input[type="email"]{
    width: 280px;
    height: 50px;
  }
  button[type="submit"]{
    padding: 8px 0;
    background-color: $blue;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 90%;
    width: 240px;
    height: 30px;
    margin: 15px auto;
    border: none;
    @media (min-width:1170px){
      margin: 0;
      width: 230px;
      height: 50px;
      align-self: flex-end;
    }
  }
}
